<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Placemark Version 2</strong> by <p>Margaret McCarthy, Waterford Institute of Technology 2022</p>
      <p>Full Stack Web Development</p>
    </p>
  </div>
</footer>