<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Placemark Version 2</strong>
      <p>Margaret McCarthy, South East Technological University 2022</p>
      <p>Full Stack Web Development</p>
    </p>
  </div>
</footer>