<div class="columns is-vcentered">
  <div class="column is-two-thirds">
    {{> TitleBar title="Placemark - Climb Ireland" subTitle="Sign up or Log in"}}
  </div>
  <div class="column">
    {{> WelcomeNavigator }}
  </div>
</div>

<div class="columns is-vcentered content">
  <div class="column has-text-centered">
    <img width="300" src="images/climber.png"/>
  </div>
  <div class="column">
    <h1 class="title">Keep track of the Crags you've climbed!</h1>
    <p>Add the routes to your profile!</p>
  </div>
</div>
 {{> footer }}