<div class="columns is-vcentered">
  <div class="column is-two-thirds">
    {{> TitleBar title="Placemark - Climb Ireland" subTitle="Latest Crags"}}
  </div>
  <div class="column">
    {{> MainNavigator }}
  </div>
</div>

<div class="columns">
  <div class="column has-text-centered">
    <img width="300" src="images/climber3.png">
  </div>
  <div class="column box has-text-centered">
    <h1 class="title is-4">Added Routes</h1>
    {{> RouteList }}
  </div>
</div>